/**
 * @Author: yang
 * @Date: 2025-01-02 11:20:55
 * @LastEditors: yang
 * @LastEditTime: 2025-01-10 13:22:37
 * @Description: 全局样式
 */

:root {
    --background-color: #1a1a1a;
    --vic-background-color: #212121;
    --text-color: #ffffff;
    --text-color-light: rgba(230, 236, 237, 0.3);
    --primary-color: rgba(129,140,248,1);

}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

